.slidecontainer { width: 78%; }
.slider {
	-webkit-appearance: none;
	appearance: none;
	width: 78%;
	height: 25px;
	background: #33FF33;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: #d3d3d3;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #d3d3d3;
	cursor: pointer;
}
