<!DOCTYPE html>
   <head>
      <title>LED Status</title>
      <link rel="stylesheet" href="/../static/style.css">
      <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
   </head>

   <body bgcolor="#33FF33"><center>
		<h2> <font size="7">Status</font></h2>
		<h3> <font size="4">The current pattern is <br/> {{ pattern  }}</font></h3>
		<h3> <font size="4">The Projector lights are set to </br> {{ lightToggle }}</font></h3>
		<br>
		<h2> <font size="7">Commands</font></h2>
		<h3> <font size="5">Brightness</font><br/></h3>
		<form action="/" id="brightSlider">
			<div class="slidecontainer">
				<input type="range" min="1" max="255" value="127" class="slider" id="brightness" name="brightnessSlider">
			</div>
		</form>
		<script>
			
			var slider = document.getElementById("brightness");
			// Attach a submit handler to the form
			$("#brightSlider").on("input change", function( event ) {
 
  				// Stop form from submitting normally
  				event.preventDefault();
 
  				// Get some values from elements on the page:
  				var $form = $( this ),
    				term = $form.find( "input[name='brightnessSlider']" ).val(),
				url = window.location.pathname;
 
  				// Send the data using post
  				var posting = $.post( url, { bright: term } );
			});
		</script>				
		<h3>
			<font size="5">Turn Off</font></br>
			<a href="/stop" href="/stop" class="button"><img src="https://i.imgflip.com/2ascgo.jpg" width="200" height="200"></a>
		</h3>
		<h3>
			<font size="5">TV Lights</font></br>
			<a href="/ToggleMovie" class="button"><img src="https://i.imgflip.com/2axy7q.jpg" width="200" height="200"></a>
		</h3>
		<h3> 
			<font size="5">Run Color Cycle</font> <br/>
			<a href="/ColorCycle" class="button"><img src="https://i.imgflip.com/2asb7a.jpg" width="200" height="200"></a>  
		</h3>
		<h3> 
			<font size="5">Run Theater Chase</font></br>
			<a href="/TheaterChase" class="button"><img src="https://i.imgflip.com/2asb7a.jpg" width="200" height="200"></a>  
		</h3>
		<h3>
			<font size="5">Run Static White</font></br>
			<a href="/StaticColor" class="button"><img src="https://i.imgflip.com/2aw84g.jpg" width="200" height="200"></a>
		</h3>
		<h3>
			<font size="5">Run Rave</font></br>
			<a href="/Rave" class="button"><img src="https://i.imgflip.com/2aw888.jpg" width="200" height="200"></a>
		</h3>
		<h3>
			<font size="5">Run Pong</font></br>
			<a href="/Pong" class="button"><img src="https://i.imgflip.com/2ay00s.jpg" width="200" height="200"></a>
		</h3>
		</center>
   </body>
</html>
