<!DOCTYPE html>
   <head>
      <title>LED Status</title>
      <link rel="stylesheet" href="/../static/style.css">
      <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
   </head>

   <body bgcolor="#33FF33"><center>
		<h2> <font size="7">Status</font></h2>
		<h3> <font size="4">The current inside pattern is <br/> {{ patternInside  }}</font></h3>
	   	<h3> <font size="4">The current outside pattern is <br/> {{ patternOutside  }}</font></h3>
		<h3> <font size="4">The Projector lights are set to </br> {{ lightToggle }}</font></h3>
		<br>
		<h2> <font size="7">Commands</font></h2>
		<h3> <font size="5">Brightness</font><br/></h3>
		<form action="/" id="brightSlider">
			<div class="slidecontainer">
				<input type="range" min="1" max="255" value="127" class="slider" id="brightness" name="brightnessSlider">
			</div>
		</form>
		<script>
			
			var slider = document.getElementById("brightness");
			// Attach a submit handler to the form
			$("#brightSlider").on("input change", function( event ) {
 
  				// Stop form from submitting normally
  				event.preventDefault();
 
  				// Get some values from elements on the page:
  				var $form = $( this ),
    				term = $form.find( "input[name='brightnessSlider']" ).val(),
				url = window.location.pathname;
 
  				// Send the data using post
  				var posting = $.post( url, { bright: term } );
			});
		</script>				
		<table  class="main">
			<tr>
				<th><h3><font size="5">Animation</font></h3></th>
				<th><h3><font size="5">Inside Lights</font></h3></th>
				<th><h3><font size="5">Outside Lights</font></h3></th>
			</tr>
			<tr>
				<td><h3><font size="5">Turn Off</font></h3></td>
				<td><a href="/StopInside" class="button"><img src="https://i.imgflip.com/2ascgo.jpg" width="200" height="200"></a></td>
				<td><a href="/StopOutside" class="button"><img src="https://i.imgflip.com/2ascgo.jpg" width="200" height="200"></a></td>
			</tr>
			<tr>
				<td><h3><font size="5">Toggle TV Lights</font></h3></td>
				<td><a href="/ToggleMovie" class="button"><img src="https://i.imgflip.com/2axy7q.jpg" width="200" height="200"></a></td>
				<td><img src="https://rlv.zcache.com/nothing_to_do_here_square_stickers-rab0bea5b5e2c42caa57c17b529d087ed_v9wf3_8byvr_307.jpg" width="200" height="200"></td>
			</tr>
			<tr>
				<td><h3><font size="5">Color Cycle</font></h3></td>
				<td><a href="/ColorCycleInside" class="button"><img src="https://i.imgflip.com/2asb7a.jpg" width="200" height="200"></a></td>
				<td><img src="https://rlv.zcache.com/nothing_to_do_here_square_stickers-rab0bea5b5e2c42caa57c17b529d087ed_v9wf3_8byvr_307.jpg" width="200" height="200"></td>
			</tr>
			<tr>
				<td><h3><font size="5">Theater Chase</font></h3></td>
				<td><a href="/TheaterChaseInside" class="button"><img src="https://i.imgflip.com/2asb7a.jpg" width="200" height="200"></a></td>
				<td><a href="/TheaterChaseOutside" class="button"><img src="https://i.imgflip.com/2asb7a.jpg" width="200" height="200"></a></td>
			</tr>
			<tr>
				<td><h3><font size="5">Static White</font></h3></td>
				<td><a href="/StaticColorInside" class="button"><img src="https://i.imgflip.com/2aw84g.jpg" width="200" height="200"></a></td>
				<td><img src="https://rlv.zcache.com/nothing_to_do_here_square_stickers-rab0bea5b5e2c42caa57c17b529d087ed_v9wf3_8byvr_307.jpg" width="200" height="200"></td>
			</tr>
			<tr>
				<td><h3><font size="5">Rave Mode</font></h3></td>
	   			<td><a href="/RaveInside" class="button"><img src="https://i.imgflip.com/2aw888.jpg" width="200" height="200"></a></td>
				<td><img src="https://rlv.zcache.com/nothing_to_do_here_square_stickers-rab0bea5b5e2c42caa57c17b529d087ed_v9wf3_8byvr_307.jpg" width="200" height="200"></td>
			</tr>
			<tr>
				<td><h3><font size="5">Pong</font></h3></td>
				<td><a href="/Pong" class="button"><img src="https://i.imgflip.com/2ay00s.jpg" width="200" height="200"></a></td>
				<td><img src="https://rlv.zcache.com/nothing_to_do_here_square_stickers-rab0bea5b5e2c42caa57c17b529d087ed_v9wf3_8byvr_307.jpg" width="200" height="200"></td>
			</tr>
			<tr>
				<td><h3><font size="5">Canada Day</font></h3></td>
				<td><a href="/CanadaInside" class="button"><img src="https://pics.me.me/canada-happy-canada-day-happy-canada-day-everyone-%F0%9F%8E%88%F0%9F%87%A8%F0%9F%87%A6%E2%9D%A4%EF%B8%8F-4810522.png" width="200" height="200"></a></td>
				<td><a href="/CanadaOutside" class="button"><img src="https://pics.me.me/canada-happy-canada-day-happy-canada-day-everyone-%F0%9F%8E%88%F0%9F%87%A8%F0%9F%87%A6%E2%9D%A4%EF%B8%8F-4810522.png" width="200" height="200"></a></td>
			</tr>

		</table>
		</center>
   </body>
</html>
